groups:
  groupOne:
    CiscoAC:
      desc: CiscoAC
      host: 10.98.102.245
      port: 0
      account: 001
      device_type: cisco_wlc_ssh
      tasks: [Check Cisco AC]
    CiscoSW:
      desc: CiscoACXS
      host: 10.98.102.249
      port: 0
      account: 001
      device_type: cisco_ios
      tasks: [Check Cisco 3560 Status]
  groupTwo:
    CiscoAC:
      desc: CiscoAC
      host: 10.98.102.245
      port: 0
      account: 001
      device_type: cisco_wlc_ssh
      tasks: [Check Cisco AC]
tasks:
  Check Status:
    commands: [3560_show_log,
               sw_3_show_switch
    ]
  Check Cisco 3560 Status:
    commands: [3560_show_cpu,
               3560_show_proc_mem,
               3560_show_fan_status,
               3560_show_log,
               3560_show_version,
               3560_show_interface_status,
               3560_show_ip_traffic
    ]
  Check Cisco AC:
    commands: [ac_show_memory_summary,ac_show_sys_info,ac_show_ap_summary]
commands:
  3560_show_cpu:
    cmd: show process cpu
    rule: ru1
    save_to: csv
  3560_show_mem:
    cmd: show mem summary
    rule: ru9
    save_to: csv
  3560_show_proc_mem:
    cmd: show processes memory
    rule: ru9
    save_to: csv
  3560_show_fan_status:
    cmd: show env all
    rule: ru2
    save_to: csv
  3560_show_tmp_val:
    cmd: show env all
    rule: ru3
    save_to: csv
  3560_show_tmp_is:
    cmd: show env all
    rule: ru4
    save_to: csv
  3560_show_tmp_status:
    cmd: show env all
    rule: ru5
    save_to: csv
  3560_show_log:
    cmd: show logging
    rule: transparent
    save_to: txt
  3560_show_version:
    cmd: show version
    rule: ru8
    save_to: csv
  3560_show_interface_status:
    cmd: show interface status err-disabled
    rule: transparent
    save_to: csv
  3560_show_ip_traffic:
    cmd: show ip traffic
    rule: ru10
    save_to: csv
  ac_show_memory_summary:
    cmd: show memory summary
    rule: ru12
    save_to: csv
  ac_show_sys_info:
    cmd: show sysinfo
    rule: ru13
    save_to: csv
  ac_show_ap_summary:
    cmd: show ap summary
    rule: transparent
    save_to: csv
  sw_3_show_switch:
    cmd: show switch
    rule: transparent
    save_to: csv
regx_rules:
  transparent:
    rule: None
    method: [bypass]
  ru1:
    rule: CPU utilization.+
    method: [findall_single_line_data]
  ru2:
    rule: FAN.+
    method: [findall_single_line_data]
  ru3:
    rule: System Temperature Value.+
    method: [findall_single_line_data]
  ru4:
    rule: TEMPERATURE is.+
    method: [findall_single_line_data]
  ru5:
    rule: Temperature State.+
    method: [findall_single_line_data]
  ru6:
    rule: .+Version.+RELEASE SOFTWARE
    method: [findall_single_line_data]
  ru7:
    rule: Syslog logging.+
    method: [findall_single_line_data]
  ru8:
    rule: .+uptime.+
    method: [findall_single_line_data]
  ru9:
    rule: Processor.+PID
    method: [findall_multiline_data]
  ru10:
    rule: TCP.+\\)
    method: [findall_multiline_data]
  ru11:
    rule: Sys Pwr.+SW  Status
    method: [findall_multiline_data]
  ru12:
    rule: Total.+System.+Buffers
    method: [findall_multiline_data]
  ru13:
    rule: System Up Time.+secs
    method: [findall_multiline_data]
accounts:
  001:
    username: root
    password: Hiamscs123
    enablepass: Hiamscs123